{% extends "base.html" %}
{% block title %}Create New Menu Item{% endblock %}

{% block content %}
	<div class="container">
		<div class="jumbotron">
			<h2>{{ restaurant.name }}</h2>
			<h3>Create New Menu Item</h3>
		</div>
		
		<form class="form-horizontal" action="{{ url_for('newMenuItem', restaurant_id = restaurant.id) }}" method="post">
			<div class="form-group">
				<div class="row">
					<div class="col-md-6 col-md-offset-3">
						<label for="name" class="control-label">
							What would you like to call your new menu item?
						</label>
					</div>
					<div class="col-md-6 col-md-offset-3">
						<input type="text" name="name" id="name" placeholder="Dish name" class="form-control"></input>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-md-offset-3">
						<label for="course" class="control-label">
							What course is your new dish a part of?
						</label>
					</div>
					<div class="col-md-6 col-md-offset-3">
						<input type="text" name="course" id="course" placeholder="Course" class="form-control"></input>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-md-offset-3">
						<label for="price" class="control-label">
							What is the price of your new dish?
						</label>
					</div>
					<div class="col-md-6 col-md-offset-3">
						<input type="text" name="price" id="price" placeholder="Price" class="form-control"></input>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-md-offset-3">
						<label for="description" class="control-label">
							Describe your dish.
						</label>
					</div>
					<div class="col-md-6 col-md-offset-3">
						<input type="text" name="description" id="description" placeholder="Description" class="form-control"></input>
					</div>
				</div>
				<div class="row" style="padding-top: 20px;">
					<div class="col-xs-6">
						<button type="submit" class="btn btn-primary pull-right">
							Create this dish
						</button>
					</div>
					<div class="col-xs-6">
						<a href="{{ url_for('showMenu', restaurant_id = restaurant.id) }}" class="btn btn-warning">
							Just teasing
						</a>
					</div>
				</div>
			</div>
		</form>
	</div>
{% endblock content %}